.ProductGridItemDescription {
    height: 100px;

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    font-size: 15px;
    color: #222222;
}

.ProductGridItemDescriptionName {
    /* display: block; */
    /* width: 12em; */
    /* width: 100%; */
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    /* width: 25%; */
    /* width: 200px; */
}

.ProductGridItemStarRating {
    display: flex;
    align-items: center;
    gap: 3.5px;
}

.ProductGridItemStar {
    font-size: 11px;
}

.ProductGridItemPrice {
    margin-top: 4px;
}
