.ProductGridItemDescription {
    height: 100px;

    display: flex;
    flex-direction: column;
    font-size: 0.8rem;
    color: #222222;
}

.ProductGridItemDescriptionName {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.ProductGridItemStarRating {
    display: flex;
    align-items: center;
    /* gap: 3.5px; */
}

.ProductGridItemStar {
    font-size: 11px;
}

.ProductGridItemPrice {
    margin-top: 4px;
}
