.ProductGridItemDescription {
    height: 100px;

    display: flex;
    flex-direction: column;
    font-size: 0.8rem;
    color: #222222;
    gap: 0.2rem;
}

.ProductGridItemDescriptionName {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.ProductGridItemStarRating {
    display: flex;
    align-items: center;
    /* gap: 3.5px; */
}

.ProductGridItemStar {
    font-size: 1rem;
}

.ProductGridItemPrice {
    font-size: 1rem;
    font-weight: 200;
    /* margin-top: 0.5rem; */
}
