.wrapper {
    position: fixed;
    bottom: 0;
}

.line {
    height: 1px;
    background-color: #dedede;
    width: 100vw;
}

.footer {
    display: flex;
    justify-content: space-between;
    width: 100vw;
    padding: 12px 18px;
    background-color: white;
}

.button {
    padding: 10px 15px;
    border-radius: 3px;
    cursor: pointer;
    font-size: 14px;
}

.saveAndContinue {
    background-color: #1f1f1f;
    border: 1px solid #dedede;
    color: white;
    margin-right: 10px;
}

.cancel {
    border: 1px solid #d9d9d9;
    margin-left: 10px;
}
