.wrapper {
    position: relative;
    margin-top: 150px;
    font-size: 14px;
}

.subWrapper {
    position: absolute;
    bottom: 0;

    width: 100%;
}

.line {
    height: 1px;
    background-color: #dedede;
}

.footer {
    display: flex;
    justify-content: space-around;
    align-items: center;

    background-color: #232347;
    color: white;

    height: 80px;
}

.left {
    display: flex;
    gap: 10px;
}

.right {
    display: flex;
    gap: 20px;
}

.right a {
    color: white;
}
