.OrderConfirmation {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 1200px;
    margin: 3rem auto;
}

.confirmation_message {
    margin-bottom: 1rem;
}

.confirmation_order_id {
    margin-bottom: 1rem;
}
