.cartItem {
    margin-bottom: 2rem;
}

.cart_seller_info {
    display: flex;
    align-items: center;
    gap: 5px;
}

.seller_profile_picture {
    font-family: serif;
    color: #f1641e;
    font-size: 20px;
}

.cart_product_grid {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: 1fr;
    gap: 0px 0px;
    grid-template-areas:
        ". . .";
}

.cart_product_image img {
    width: 12rem;
    height: 10rem;
    object-fit: cover;
    border-radius: 0.5vw;
}

.cart_grid_middle_ele {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
