.profileDropdown {
    position: absolute;
    top: 70px;
    right: 75px;

    display: flex;
    flex-direction: column;

    width: 240px;
    padding-top: 20px;
    padding-bottom: 20px;

    border-radius: 10px;
    background-color: white;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    margin-top: 10px;
    z-index: 4
}

.iconInfoWrapper {
    display: flex;
    padding-left: 25px;

}

.icon {
    font-size: 24px;
}

.profileDropdown>div {
    background-color: transparent;
    border: none;
    font-size: 13px;
    height: 40px;
    width: 100%;
}

.dropdownInfo {
    width: 100%;
    cursor: default;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-decoration: none;

}

.iconInfoWrapper:hover {
    background-color: #f7f7f7;
}

.dropdownLink {
    width: 100%;
    cursor: pointer;
    text-decoration: none;
    padding-left: 10px;
    padding-top: 10px;
}

.dropdownLink:hover {
    background-color: #f7f7f7;
}

.dropdownLink:visited {
    color: #222;
}

.dropdownBtn {
    padding-left: 10px;
    padding-top: 10px;
}

.dropdownBtn:hover {
    background-color: #f7f7f7;
    cursor: pointer;
}
