.createASpot {
    font-weight: bold;
    background-color: white;
    border: none;
    cursor: pointer;
    margin-top: 3px;
}

.rightHeader {
    display: flex;
    align-items: center;
    gap: 15px;
}

.pointer {
    cursor: pointer;
}
