.ProductGridWrapper {
    display: flex;
    justify-content: center;
    padding: 30px;
}

.ProductGrid {
    display: grid;
    grid-template-columns: repeat(5, minmax(0, 1fr));

    max-width: 1350px;

    padding-top: 40px;

    column-gap: 24px;
    row-gap: 40px;
}
