.ShopManagerItemDescription {
    display: flex;
    flex-direction: column;
    font-size: 14px;
    color: #222222;
    row-gap: 0.3rem;
    padding: 0.3rem 0.5rem;

}

.ShopManagerItemDescriptionName {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.priceWrapper {
    display: flex;
    justify-content: flex-end;
    margin-top: 3px;
    font-size: 13px;
}
