.welcome {
    background-color: #DDEBE3;
    width: 100%;
    text-align: center;
    font-size: 32px;
    line-height: 36px;
    padding-top: 30px;
    padding-bottom: 6vh;
}

.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 150px;
    margin: auto;
    max-width: 1350px;
}

.welcome2 {
    display: flex;
    justify-content: center;
    position: relative;
    background-color: #DDEBE3;
    width: 100%;
    padding-bottom: 50px;
}

.categoryWrapper {
    display: flex;
    justify-content: space-between;
    position: absolute;
    z-index: 2;
    padding: 40px 30px 40px 30px;
    width: 100%;
}

.imageWrapper {
    width: 115px;
    height: 180px;
    max-width: fit-content;
    min-width: auto;
    cursor: pointer;
}

.categoryImage {
    width: 115px;
    height: 115px;
    border: 1px solid #DDEBE3;
    border-image: 50%;
    border-radius: 50%;
    z-index: 2;
}

.categoryName {
    font-size: 18px;
    text-decoration: underline;
    font-weight: 500;
    line-height: 20px;
    color: #333;
}

.homepage {
    display: grid;
    grid-template-columns: repeat(5, minmax(0, 1fr));
    max-width: 1350px;
    padding: 10px 10px;
    column-gap: 20px;
    row-gap: 20px;
}

.recentViewed {
    padding-left: 10px;
}

.price {
    font-size: 13px;
    padding: 3px 6px;
    border: 1px solid #DDEBE3;
    background-color: #FFF;
    border-radius: 15px;
    min-width: fit-content;
    max-width: 50px;
    z-index: 2;
    position: absolute;
    margin-top: -30px;
    margin-left: 5px
}
