.ProductDetailsReviewWrapper {
    margin-top: 1rem;
}

.reviewList {
    display: flex;
    flex-direction: column;
}

.reviewText {
    font-size: 0.9rem;
    font-weight: 200;
    line-height: 1.8rem;
    max-height: 5rem;
    overflow-y: hidden;
    margin-bottom: 0.5rem;
    padding-left: 3px;
}

.buyerInfo {
    display: flex;
    align-items: center;
    gap: 10px;
}

.buyerPicture {
    font-family: serif;
    color: #f1641e;
    font-size: 30px;
}

.buyerName {
    font-size: 12.5px;
}

.reviewDate {
    font-size: 12.5px;
}
