/* .button {
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
} */

.imageWrapper {
    width: 100px;
    padding: 10px;
}

.image {
    max-width: 107px;
    border: 1px solid #d2d2d2;
    border-radius: 3px;
    padding: 3px;
}

.heading {
    border-bottom: 1px solid #d2d2d2;
    position: relative;

}

.purchases {
    display: flex;
    font-size: 26px;
    font-weight: 500;
    color: #333;
    padding: 25px;
    margin: auto;
    width: 750px;
}

.orderInfoWrapper {
    margin: auto;
    padding: 40px;
    width: 750px;
}

.infoWrapper {
    padding: 10px 10px 10px 40px;
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}

.orderInfo {
    display: flex;
    flex-direction: column;
    font-size: 14px;
    padding: 20px;
}

.purchaseFromWrapper {
    display: flex;
    justify-content: space-between;
    color: #666;
    background: #f5f5f1;
    border: 1px solid #d2d2d2;
    border-radius: 5px 5px 3px 3px;
    padding: 10px;
    box-shadow: 0 2px 0 rgb(0 0 0 / 10%);
}

.productWrapper {
    display: flex;
    border-bottom: 1px solid #E2E2E2;
    border-left: 1px solid #E2E2E2;
    border-right: 1px solid #E2E2E2;
    padding: 20px;
}

.productName {
    color: #222;
    font-family: "Merriweather", sans-serif;
    font-size: 18px;
    font-weight: 600;
    text-decoration: none;
}


.productName div {
    font-family: "Merriweather", sans-serif;
}

.productName:hover {
    color: #595959;
    text-decoration: underline;
}

.editReviewBtn {
    text-decoration: underline;
}

.cancelWrapper {
    display: flex;
    justify-content: space-between;
}

.removeReviewBtn {
    font-weight: bold;
    font-size: 15px;
}

.reviewBtnWrapper {
    background: #f5f5f1;
    min-width: 420px;
}

.reviewBtn {
    font-weight: bold;
    font-size: 14px;
}

.yourReview {
    background: #f5f5f1;
    padding: 10px;
    line-height: 20px;
}

.rating {
    font-weight: bold;
}

.review {
    color: #666;
}

.buyAgain {
    display: flex;
    font-size: 18px;
}

.buyAgainBtn {
    background-color: #222222;
    padding: 7px 15px 8px;
    border-width: 1px;
    border-style: solid;
    border-color: rgba(0, 0, 0, 0.1);
    border-radius: 3px;
    color: #FFF;
    font-weight: 500;
    font-size: 15px;
    border-bottom: 1px solid #E2E2E2;
}

.buyAgainBtn:hover {
    background-color: #3c3c3c
}

.price {
    padding: 7px 15px 8px;
    color: #333
}

.addedToCart {
    text-align: left;
    color: #f1641e;
}

.shopNote {
    color: #999;
    line-height: 22px;
    border-bottom: 1px solid #E2E2E2;
    border-left: 1px solid #E2E2E2;
    border-right: 1px solid #E2E2E2;
    padding: 10px;
    border-radius: 3px;
    box-shadow: 0 2px 0 rgb(0 0 0 / 10%);
}
